@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Poppins:ital,wght@0,400;0,500;1,600&family=Righteous&display=swap');

/* :root{
    font-family: Poppins;
} */

body{
    margin: 0;
    font-family: Poppins !important;
}