.examMain {
  background-image: url("../images/exams.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  height: 90%;
  margin-top: 0;
  position: relative;
  border: 2px solid transparent;
}

.examContainer{
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.examContainer::-webkit-scrollbar {
  display: none;
}

.olimpMain {
  background-image: url("../images/trophy.jpeg");
}
