.settingsMain {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
}

.personalDiv {
  border-right: 2px solid gainsboro;
  height: 90%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form {
  --width-of-input: 300px;
  --border-height: 1px;
  --border-before-color: gainsboro;
  --border-after-color: orchid;
  --input-hovered-color: whitesmoke;
  position: relative;
  width: var(--width-of-input);
  margin-top: 40px;
}
/* styling of Input */
.input {
  color: black;
  font-size: 12pt;
  background-color: transparent;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  padding-top: 30px;
  border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
/* Hover on Input */
input:hover {
  background: var(--input-hovered-color);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
  width: 100%;
}

.personalInfoLabels {
  font-size: 8pt;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 10px;
  color: purple;
}

.passwordChanger {
  width: 75%;
  height: 45px;
  background-image: linear-gradient(to right, orchid, #d8b73e);
  /* background-color: orchid; */
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 7px;
  transition: all ease-in-out 0.3s;
  position: absolute;
  bottom: 5px;
}

.passwordChanger:hover {
  background-image: linear-gradient(to right, darkorchid, orchid);
  cursor: pointer;
}

.profileChanger {
  background-color: lightgreen;
  border: none;
  width: 75%;
  height: 45px;
  border-radius: 7px;
  margin-top: 25px;
  color: white;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.profileChanger:hover {
  box-shadow: 0 0 10px 5px rgba(144, 238, 144, 0.7);
  outline: 2px solid rgba(144, 238, 144, 0.7);
  outline-offset: 2px;
}

.profileChanger:disabled{
    width: 0;
    background-color: transparent;
    color: transparent;
}

.profileChanger:disabled:hover{
  box-shadow: none;
  outline: none;
}

.passwordForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.generateUser{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 630px;
  margin: 0 auto;
  text-align: justify;
}

.instructions{
  width: 90%;
  font-size: 10pt;
}

.generateButton {
  border: none;
  display: block;
  position: absolute;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  bottom: 0;
}

.generateButton:disabled{
  color: transparent;
}

.generateButton:disabled span{
  width: 0;
  color: transparent;
  background-color: transparent;
  border: none;
}

.generateButton:disabled:hover{
  cursor: default;
}

.generateButton span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
  transition:all ease-in-out 0.5s;
}

.generateButton span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 1267%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all ease-in-out 1s;
}

.generateButton:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.generateButton:hover {
  color: white;
}

.generateButton:active span::before {
  background: #2751cd;
}

.generatingForm{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70%;
}

.generatingForm div{
  margin-top: 15px;
}