.singleFileMain {
  width: 100%;
  height: 90%;
  margin-top: 0;
  position: relative;
  border: 2px solid transparent;
}

.legislationMain{
    background-image: url('../images/laws-bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 53%;
}

.singleCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.singleFileCard {
  background-color: rgba(255, 165, 0, 0.5);
  border: 2px solid orange;
  color: white;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
  background-image: url("../images/caret-down.png");
  background-position: 98%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.singleFileCard:hover {
  cursor: pointer;
}

.opened {
  background-image: url("../images/caret-up.png");
}

.singleFileCard p {
  margin: auto 0;
  font-size: 15pt;
}

.changePdfButton {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background-image: url("../images/pdf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: orange;
  margin-right: 10px;
}

.changePdfButton:hover,
.saveEdits:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.saveEdits {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background-image: url("../images/file-edit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: green;
  margin-right: 10px;
}

.saveEdits:disabled {
  background-color: gray;
}

.editSingle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleInput {
  margin: 20px 20px !important;
  width: 80% !important;
}

.example-collapse-text {
  border-radius: 10px;
  background-image: linear-gradient(45deg, rgba(218, 112, 214, 0.5), rgba(216, 183, 62, 0.5));
  width: 90%;
}

#pdfUploader{
    display: none;
}

.logoDivInUploader{
    background-image: url("../images/pdf.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    width: 50px;
    height: 100%;
    border-bottom-left-radius: 5x;
    border-top-left-radius: 5px;
    background-color: rgba(128, 0, 128, 0.3);
}

.legislationFormDiv{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legislationForm{
    width: 100%;
    margin: 0 0 0 65px;
}