.carouselContainer{
    width: 600px;
    margin: 5px 20px;
    --changing-height: 87%;
}

.carouselContainer img{
    width: 100% !important;
    height: 90% !important;
}

.dynamicNews{
    background-color: rgb(0, 0, 0, 0.5);
    width: 110%;
    height: 100px;
    margin: 0px -135px;
    position: relative;
    top: var(--changing-height);
    transition: all ease-in-out 0.3s;
}


.carousel-control-next, .carousel-control-prev {
    transition: all ease-in-out 0.3s !important;
    width: auto !important;
    height: auto !important;
    height: var(--changing-height) !important;
}

.carouselContainer:hover{
    --changing-height: 75%;
    cursor: pointer;
}